<header class="header">
  <div class="logo">
    <%= link_to '卓の輪', root_path, class: "logo" %>
  </div>
  <div class="nav">
    <ul class="lists">
      <% if logged_in? %>
      <li class="list"><%= link_to '日程記入', "#", class: "schedule" %></li>
      <li class="list"><%= link_to 'マッチング', "#", class: "matching" %></li>
      <li class="list"><%= link_to 'ログアウト', logout_path %></li>
      <li class="list"><%= link_to 'マイページ', "#", class: "my-page" %></li>
      <% else %>
        <li class="list"><a href="/auth/twitter">ログイン</a></li>
      <% end %>
    </ul>
  </div>
</header>